input{
  width: 100px;
  height: 23px;
  border-radius: 100px;
  text-align: center;
  border-color: #286491;
}
.cancelButton{
  border-radius: 38px;
  text-align: center;
  font-size: 14px;
}
.addButton{
  border-radius: 38px;
  text-align: center;
  font-size: 14px;
  color: aliceblue;
  background-color: #286491;
}
