.policy {
  float: right;
  margin-top: 4%;
  margin-right: 8%;
  width: auto;
  height: auto;
  border-radius: 38px;
  text-align: center;
  font-size: 14px;
  color: aliceblue;
  background-color: #286491;
}
