<!-- <app-dialog (agree)="policyWordingHandler($event)"></app-dialog> -->
<div class="headerContainer">
  <div class="logoDiv">
    <img class="logo" src="assets\InvestSure.png">
  </div>
  <div class="policyDiv">
      <button class="policy" mat-button (click)="openDialog()">view policy wording</button>
  </div>
</div>

<div class="container">
  <div class="client-info">
    <mat-list>
      <mat-list-item>
          <p mat-line><strong>Name:</strong> {{policydetail.Investor.FirstName + " " + policydetail.Investor.FirstName}}</p>
          <p mat-line><strong>ID number:</strong> {{policydetail.Investor.IdNumber}}</p>
          <p mat-line><strong>E-mail:</strong> {{policydetail.Investor.Email}}</p>
          <p mat-line><strong>Trading Platform:</strong> {{policydetail.Account.TradingPlatformName}}</p>
          <p mat-line><strong>Policy Number:</strong> {{policydetail.Policy.PolicyNumber}}</p>
      </mat-list-item>
      </mat-list>
  </div>
  <div class="auto-renewal">
    <mat-list>
        <mat-list-item>
            <p mat-line><strong>Auto-renew insurance: </strong>
              <mat-slide-toggle  [(ngModel)]="policydetail.Policy.IsAutoRenewal">ON</mat-slide-toggle>
            </p>
            <p mat-line><strong>Estimated  renewal cost:</strong> {{policydetail.Policy.RenewalAmount | currency:'ZAR':'symbol-narrow':'0.2-2'}} </p>
            <p mat-line><strong>Available funds:</strong> {{policydetail.Account.AccountBalance | currency:'ZAR':'symbol-narrow':'0.2-2'}}</p>
            <p mat-line><strong>Anniversary Date:</strong> {{policydetail.Policy.AnniversaryDate}}</p>
        </mat-list-item>
        </mat-list>
  </div>
</div>
<div>
  <mat-card>
    <h5>ACCOUNT HOLDINGS [{{HoldingsCount}}]</h5>

    <div class="mat-elevation-z8">

    <mat-table [dataSource]="policyDetailData" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Share Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let holding"> {{findHolding(holding) + 1}} </mat-cell>
        </ng-container>

          <!-- Share Column -->
          <ng-container matColumnDef="share">
            <mat-header-cell *matHeaderCellDef> SHARE </mat-header-cell>
            <mat-cell *matCellDef="let holding"> {{holding.StockName}} </mat-cell>
          </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef> VALUE </mat-header-cell>
          <mat-cell *matCellDef="let holding"> {{holding.Value | currency:'ZAR':'symbol-narrow':'0.2-2'}} </mat-cell>
        </ng-container>

        <!-- Total number of shares Column -->
        <ng-container matColumnDef="totalNumShares">
          <mat-header-cell *matHeaderCellDef> TOTAL NUMBER<br> OF SHARES </mat-header-cell>
          <mat-cell class="totnum"  *matCellDef="let holding"> {{holding.NumberOfShares | number :'0.2-2'}}</mat-cell>
        </ng-container>

        <!-- Uninsured Column -->
        <ng-container matColumnDef="uninsured">
          <mat-header-cell *matHeaderCellDef> UNINSURED </mat-header-cell>
          <mat-cell *matCellDef="let holding"> {{holding.UninsuredShares | number :'0.2-2'}} </mat-cell>
        </ng-container>

        <!-- Panding insure Column -->
        <ng-container matColumnDef="pending">
            <mat-header-cell *matHeaderCellDef> PENDING <br>INSURE </mat-header-cell>
            <mat-cell *matCellDef="let holding"> {{holding.PendingShares | number :'0.2-2'}} </mat-cell>
          </ng-container>

          <!-- Insured Column -->
        <ng-container matColumnDef="insured">
            <mat-header-cell *matHeaderCellDef> INSURED </mat-header-cell>
            <mat-cell *matCellDef="let holding"> {{holding.InsuredShares | number :'0.2-2'}} </mat-cell>
          </ng-container>

          <!-- Number to  Insure Column -->
        <ng-container matColumnDef="insure">
            <mat-header-cell *matHeaderCellDef> NUMBER TO<br> INSURE </mat-header-cell>
            <mat-cell *matCellDef="let holding">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="0" [disabled]="insureDisable(holding) || disableHolding(holding)" [(ngModel)]="holding.NumberOfSharesToInsure" >
                    <div class="errorColor" *ngIf="numberToInsureError(holding)">{{errorMessage}}</div>
                  </mat-form-field>
            </mat-cell>
          </ng-container>

          <!-- Number to Cancel Column -->
        <ng-container matColumnDef="cancel">
            <mat-header-cell *matHeaderCellDef> NUMBER TO<br> CANCEL </mat-header-cell>
            <mat-cell *matCellDef="let holding">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="0" [disabled]="cancelDisable(holding) || disableHolding(holding)" [(ngModel)]="holding.NumberOfSharesToCancel">
                    <div class="errorColor" *ngIf="numberToCancelError(holding)">{{errorMessage}}</div>
                </mat-form-field>
            </mat-cell>
          </ng-container>

          <!-- Estimated Costs Column -->
        <ng-container matColumnDef="costs">
            <mat-header-cell *matHeaderCellDef> ESTIMATED COSTS </mat-header-cell>
            <mat-cell *matCellDef="let holding" aria-placeholder="R0.00">{{holding.Premium | currency:'ZAR':'symbol-narrow':'0.2-2'}}</mat-cell>
          </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (change)="onChangeValidation(row)"></mat-row>>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <!-- place add template here -->
      <app-add-dialog (holdingAdded)="AddHoldingHandler($event)"></app-add-dialog>
      <div class="container_submit">
        <div class="total">
          <mat-label>TOTAL COSTS:  {{Total | currency:'ZAR':'symbol-narrow':'0.2-2'}}</mat-label>
          <!-- <input matInput placeholder="0" [(ngModel)]="Total"> -->
        </div>
        <div class="submit">
           <button mat-raised-button (click)="submit()" [disabled]="!PolicyAgreed">SUBMIT</button>
           <div class="errorColor" *ngIf="PolicyAgreed === false">agree with the policy to submit</div>
          </div>
      </div>
  </mat-card>

</div>



