<div>
    <mat-card>
      <h5>INSURANCE CLAIM</h5>
      <div class="mat-elevation-z8">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Share Column -->
          <ng-container matColumnDef="ISINCode">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ISINCode}} </mat-cell>
          </ng-container>

            <!-- Share Column -->
            <ng-container matColumnDef="StockName">
              <mat-header-cell *matHeaderCellDef> SHARE </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.StockName}} </mat-cell>
            </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="FraudInTheNews">
            <mat-header-cell *matHeaderCellDef> FRAUD IN THE<br> NEWS </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.FraudInTheNews}} </mat-cell>
          </ng-container>

          <!-- Total number of shares Column -->
          <ng-container matColumnDef="ClaimTriggered">
            <mat-header-cell *matHeaderCellDef> CLAIM <br>TRIGGERED</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ClaimTriggered}}</mat-cell>
          </ng-container>

          <!-- Uninsured Column -->
          <ng-container matColumnDef="TriggeredDate">
            <mat-header-cell *matHeaderCellDef> TRIGGERED <br>DATE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.TriggeredDate}} </mat-cell>
          </ng-container>

          <!-- Panding insure Column -->
          <ng-container matColumnDef="TotalClaimableShares">
              <mat-header-cell *matHeaderCellDef> CLAIMABLE <br>SHARES </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.TotalClaimableShares}} </mat-cell>
            </ng-container>

            <!-- Insured Column -->
          <ng-container matColumnDef="TriggerPrice">
              <mat-header-cell *matHeaderCellDef> TRIGGER<br> PRICE </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.TriggerPrice | currency:'ZAR':'symbol-narrow':'0.2-2'}} </mat-cell>
            </ng-container>


          <ng-container matColumnDef="StockPrice">
              <mat-header-cell *matHeaderCellDef> EST.CURRENT <br>PRICE </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.StockPrice | currency:'ZAR':'symbol-narrow':'0.2-2'}} </mat-cell>
            </ng-container>


          <ng-container matColumnDef="ClaimPerShare">
              <mat-header-cell *matHeaderCellDef> CLAIM PER<br> SHARE </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ClaimPerShare | currency:'ZAR':'symbol-narrow':'0.2-2' }} </mat-cell>
            </ng-container>


          <ng-container matColumnDef="ClaimAmount">
              <mat-header-cell *matHeaderCellDef> EST.CLAIM<br> VALUE </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ClaimAmount | currency:'ZAR':'symbol-narrow':'0.2-2'}} </mat-cell>
            </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
</div>
