<h2 mat-dialog-title>Investment Indemnity Policy</h2>
<!-- <div>
    <label>PDF src</label>
    <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
</div> -->

<mat-dialog-content class="mat-typography">
  <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  style="display: block;"
></pdf-viewer>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Decline</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Agree</button>
</mat-dialog-actions>
