<h2 mat-dialog-title>Investment Indemnity Policy</h2>
<mat-dialog-content class="mat-typography">
  <h3>A Compass Insure Product. Partnered by InvestSure. Brokered by Easy Equities.</h3>
  <p>Provided the agreed premiums have been received by the Insurer, the Insurer will cover the insured for any insured losses, which are
    not excluded or invalid, under this investment indemnity policy.</p>

  <h3>Operative clause</h3>
  <p>Provided the agreed premiums have been received by the Insurer, the Insurer will cover
    the insured for any insured losses, which are not excluded or invalid, under this investment indemnity policy.</p>

  <h3>Purpose of this cover</h3>
  <p>The primary purpose of investment insurance is to protect investors against losses arising out of the deceptive or misleading acts
      of Directors and Prescribed Officers in the companies which they are invested in.
      News of Director Dishonesty, whether accurate or not, is a significant risk to investors, as acts of this nature often result in sudden
      and significant losses in the value of the company and shares held by investors. Losses caused by Directors misleading investors,
      through false information or concealment of information, can be dramatic as the Share Price can move Materially based on
      information which may not be true or complete. When the truth is finally disclosed, these losses can be exacerbated as a result of
      a loss of faith in managements’ integrity.</p>

  <h3>Important concepts</h3>
  <p>The definitions in the following section are important and will be found throughout the policy. You will notice that they have been
      capitalised to ensure you understand their importance.
      The policy is an annual policy and is renewable every twelve (12) months. Cover is effective for 12 months from the day after
      premium is paid for the cover.
      All amounts paid by the insured and Insurer include VAT at the applicable rate.</p>

  <h3>Definitions</h3>

  <p>1. “Affected Company” means a company which is the subject of News as defined
      2. “Closing Share Price” means the volume weighted average Share Price of the last 100 trades of the trading day. This is the
      closing share price displayed as the closing price by most JSE linked platforms.
      3. “Director” means a member of the board of directors of a company, including alternate directors, Prescribed Officers, and
      any person occupying the position of a director or alternate director, or prescribed officer, or who has occupied such a
      position within the 12 months before the date of this policy or any subsequent renewal.
      4. “Prescribed Officer” means a person who, although not a Director of a particular company:
      i. exercises general executive control over and management of the whole, or a significant portion, of the business
      and activities of the company; or
      ii. regularly participates to a Material degree in the exercise of general executive5. “Dishonesty” means a deliberate distortion of the truth in order to deceive, cheat or defraud, and includes but is not
      limited to:
      i. criminal acts that may lead to fines, penalties , or damages being imposed;
      ii. intentional breach of duty or Material non-compliance by a Director/s with applicable laws and regulations;
      iii. deception or misrepresentation that an individual or entity makes knowing that the misrepresentation could result
      in some unauthorised benefit for an individual or entity;
      iv. material False or Misleading Statements;
      v. intentional Material deception.
      6. “False and Misleading Statements” means any statement, promise or forecast which is, at the time and in the light of the
      circumstances in which it is made, false or misleading in respect of any Material fact, whether by admission or omission,
      and which the person knows, or ought reasonably to have known, is false or misleading.
      7. “Insurer” refers to Compass Insurance Company Limited, a registered Short-Term Insurance Company and an authorised
      Financial Services Provider (FSP), FSP number 12148.
      8. “Material(ly)”, when used as an adjective, means significant in the circumstances of a particular event, to a degree, that is:
      i. of consequence in determining the outcome of the event; or
      ii. might reasonably affect a person’s judgement or decision-making regarding the event.
      9. “News” means any allegations or information, including judgments, awards of damages, fines or settlements, or Material
      Dishonesty by a Director(s) of a company, come into the public domain through multiple reputable media sources.
      10. “News Date” is any date on which there is News.
      11. “Opening Share Price” means the Closing Share Price on the day before the News Date.
      12. “Policy Schedule” means the document sent to the insured when the product is bought and then sent to the insured every
      time a change is made to the insured shares. All insured shares are listed on the Policy Schedule.
      13. “Qualifying Shares” means the numbers of shares owned in the Affected Company which have been insured under the
      policy before the News Date, less subsequent sales of those shares in accordance with the Movement of Shares section.
      14. “Realised Price” means the price at which a Qualifying Share is sold.
      15. “Realised Loss(es)” means the difference between the Trigger Price and the Realised Price of each Qualifying Share sold.
      Where the Realised Price exceeds the Trigger Price, the loss is deemed to be zero.
      16. “Share Price” means the price of a share as quoted on a recognised exchange in South Africa.
      17. “Trigger Price” means the price</p>

  <h3>Cover</h3>

  <p>The policy covers Realised Losses in Qualifying Shares, provided that the insured sells the Qualifying Shares and realises a loss
      within the prescribed period set out in the Claim Period section. The policy only covers losses caused by News (as defined) and not,
      for instance, general market or business losses. Claims are paid for Realised Losses up to the Limit of Cover.
      Cover is effective for 12 months from the day after premium is paid for the cover. Only News which occurs after the cover is effective
      will be claimable by the insured.
      Annual Premiums are charged upfront.</p>

  <h3>Claim triggers</h3>
  <p>News (as defined) which:
      • directly causes a 10% or greater drop in the Share Price of the Affected Company from the Opening Share Price to the
      Share Price at any point during the trading day, on the trading day of or trading day after the News Date; and
      • confirmation that all Claim Triggers were met is issued by the Insurer via the News Board (see News Board section).</p>

 <h3>Claim period</h3>
  <p>The claim period is limited to a period of 30 calendar days from the date that all the Claim Triggers are met.</p>
  <h3>Claims</h3>
  <p>Claims will be based on Qualifying Shares only.
      Claims will be calculated automatically when the Insured sells a Qualifying Share within the Claim Period. The insurance pay-out will
      be paid directly into the trading account in which the loss was realised within a reasonable period of time, which shall not be longer
      than 7 business days following the date of sale of the Qualifying Shares.
      Determination of claim amount per Qualifying Share:
      Trigger Price less the higher of the Realised Price or 30% of the Opening Share Price
      There is no need for the insured to notify the Insurer of the sale or of a claim as the Insurer monitors sales of any Qualifying Shares
      through its internal system and is therefore aware of when any loss is realised.
      Claim example:
      • Opening Share price: R100
      • Triggers all met which results in a Trigger Price of R90
      • Realised Price of R50
      • Claim paid from Trigger Price to Realised Price
      • Therefore Claim amount is R90 less R50
      • Claim amount paid is therefore R40 per Qualifying Share</p>
<h3>Limit of cover</h3>
  <p>The Realised Price will be capped at a minimum of 30% of the Opening Share Price.
      Claim example with sell below the Limit of Cover:
      • Opening Share price: R100
      • Triggers all met which results in a Trigger Price of R90
      • Realised Price of R20
      • Limit of Cover R30 [R100 * 30%]
      • Claim paid from Trigger Price to Limit of Cover, as the Realised Price was less than the Limit of Cover
      • Therefore Claim amount is R90 less R30
      • Claim amount paid is therefore R60 per Qualifying Share</p>
  <h3>News board</h3>
  <p>This is a website, controlled by / on behalf of the Insurer, where all News (as defined) is listed per company. This will help the insured
      identify News which may Trigger claims as well as to identify Affected Companies which currently fall into a Claims Period. Once
      News is listed on the News Board, any purchases of insurance in that company will not be entitled to claims for News which already
      appears on the News Board. Purchases of insurance for shares that are currently in a Claims Period will be deactivated on the
      trading platform.
      The News Board will be updated daily with events which may trigger a claim. All news articles appearing on the News Board are
      deemed to be from reputable sources for that particular event. Once News is loaded onto the News Board, the Share Price will be
      monitored to see if the Claim Triggers are met.
      If News does not appear on the News Board but it is the opinion of the client that it should, a request may be sent to the Insurer to
      consider putting that News item on the News Board.
      The News Board can be found at the link “www.nb.investsure.info”.</p>
  <h3>Concurrent news</h3>
  <p>If there is more than one news report about a company, where one report could potentially fall within the scope of this policy and
      another not, the Materiality of each report will be assessed in terms of its likely impact on the Share Price. Where it is unclear which
      piece of news is more Material, the full loss will be attributed to the news which falls within the scope of this policy.
      Where one stream of news reports falls within the scope of this policy but is not Material in relation to the concurrent news reports,
      the Material event will be deemed to be the reason for the Share Price drop, and the Claim Triggers will not have been met.</p>
  <h3>Subrogation</h3>
  <p>In the event of a payment under this policy, the insured shall subrogate all rights of recovery to the Insurer. In addition, the insured
      and any insured person or entity shall take all necessary steps to enable the Insurer to bring a recovery action against any party
      responsible for the Dishonesty, including the Directors and the Affected Company itself. Any subrogated recovery received shall
      first be applied against costs and payment/s made by the Insurer, and any remaining balance shall then be paid to the insured.</p>

      <h3>Exclusions</h3>
      <p>The Insurer shall not be liable for:
          1. any direct or indirect financial loss or indemnification, other than the Realised Losses from Qualifying Shares;
          2. losses in the value of shares held in any company/ies other than the company/ies directly involved in the Dishonest
          behavior, even if those losses are caused by the same news or event. E.g. if dishonesty in a single company triggers losses
          in other companies in the same sector, only losses in the company that is the subject of the News will be covered;
          3. the loss in share value in any company in which the insured, or any Related Person, is a Director;
          i. An individual is related to another individual (Related Person) if they:
          a. are married, are parties to a civil union or live together in a relationship similar to a marriage or civil union; or
          b. are separated by no more than two degrees of natural or adopted consanguinity or affinity
          4. dishonesty by a Director in one company (Affected Company), where that Director sits on the board of multiple
          companies and causes losses in those other companies as well;
          5. losses caused specifically by failure of equipment / property, generaleconomic conditions, political risks, internal failures
          and /or events which are not caused by Dishonesty of Directors.</p>
    <h3>Renewals</h3>
    <p>This agreement shall be subject to renewal 12 months after the inception date of the policy (Renewal Date). A notification will be
        sent by the Insurer to the insured 30 days before the Renewal Date with the option to renew the policy for a further 12 months.
        Confirmation of renewal can occur at any point within the 30 days before the Renewal Date. This renewal will be done for all
        adjustments to the policy between inception and Renewal Date on this single Renewal Date.
        Credits will be granted in the calculation of the renewal premium for all adjustments to the policy whose 12 months have not
        expired at Renewal Date, on a pro rata basis.
        Premium payable will be clearly shown in the renewals calculation which will be communicated to the Insured.
        Upon confirmation of renewal, the annual premium will be charged on all shares for which the insured has indicated they wish to
        renew and this amount will be deducted from the trading account which relates to the policy. If no response is received regarding
        renewal, the policy and adjustments will expire one year after the start date of each cover.</p>
    <h3>Expiration</h3>
    <p>If the policy is not renewed 12 months after the original cover start date the cover will expire.</p>
    <h3>Cancellation</h3>
    <p>The insured has the right to cancel this insurance policy with immediate effect by simply informing the Insurer of their decision to
        cancel. This can be done directly on the trading platform through which the insurance was purchased – select the cancel insurance
        option. A pro-rata refund for the unexpired portion of the annual premium paid will be refunded by the Insurer directly into the
        trading account from which the shares were sold, within a reasonable period of time which shall not be longer than 7 business days
        following the date of cancellation.
        Any sale of insured shares (other than during a Claims Period) will be seen as a cancellation of insurance. A pro-rata refund for
        the unexpired portion of the annual premium paid will be refunded by the Insurer directly into the trading account from which the
        shares were sold, within a reasonable period of time which shall not be longer than 7 business days following the date of sale.
        The Insurer may cancel the policy on 30 days’ written notice to the insured.
        The Insurer is entitled to adjust the coverage on 30 days’ written notice to the insured.</p>
    <h3>Movement of shares (adjustments)</h3>
    <p>In the event where the portfolio consists of insured and uninsured shares and shares are sold for any reason except for a claim,
        then the uninsured shares shall be deemed to be sold first and then insured shares on a first-in-first-out basis. Where insured
        shares are sold (other than during a Claim Period) or the cover is cancelled, a pro-rata refund for the unexpired portion of the annual
        premium paid will be refunded by the Insurer directly into the trading account from which the shares were sold / cancelled, within a
        reasonable period of time which shall not be longer than 7 business days following the date of sale / cancellation.
        If Qualifying Shares in a company are sold during a Claim Period then these Qualifying Shares will be sold on a first-in-first-out
        basis. Any shares sold for which a Claim was paid are not subject to any pro-rata refund of premium.
        The purchase of additional insured shares or the sale of insured shares during the insured period will result in the Policy Schedule
        being updated. The updated Policy Schedule will be sent to the insured each time such a sale or purchase occurs. This updated
        Policy Schedule will include the amount of premium paid by the insured or refunded by the Insurer.</p>
    <h3>Notifications to the insured</h3>
    <p>Notifications to the insured
        The Insurer will communicate to the insured via email if any of the following events should occur:
        1. Triggers are met allowing for claims. This will include:
        i. the dates which are considered to be the Claims Period;
        ii. the number of shares held by the insured that qualify for the claim.
        2. The end of the period in which the insured can sell shares for a claim
        3. Adjustments
        i. New shares bought and / or insured
        ii. Renewals
        iii. Cancellations of cover on shares
        4. Claims paid
        5. Refunds paid
        Suspended trading of shares
        Where the Johannesburg Stock Exchange suspends the trading of a share which is the subject of a Claim Period, the following
        process will be followed in order to ensure that the Claim Period remains fair:
        • The Claim Period will immediately be postponed until the share continues trading, after which the Claim Period will
        continue as normal; and
        • Where the share does not continue trading within 3 months of being suspended the Insurer will assume that a full loss has
        occurred and pay the Insured as if a maximum loss had occurred.</p>
    <h3>Statutory Disclosure</h3>
    <p>STATUTORY DISCLOSURES REQUIRED IN TERMS OF THE FINANCIAL ADVISORY AND INTERMEDIARY SERVICES ACT 37 OF
        2002 (“FAIS”)
        This notice does not form part of the insurance contract or any other document. As a short-term insurance policyholder, or
        prospective policyholder, you have the right to the following information:</p>
    <h3>The intermediary (broker)</h3>
    <p>1. Name, physical address, postal address and telephone number
        Broker: First World Trader (Pty) Ltd. - Johannesburg
        Physical address: The Offices of Hyde Park, Block B, Strouthos Place, Hyde Park, 2196
        Postal address: Postnet Suite 247, Private Bag X1, Melrose Arch, 2076
        Telephone: 087 940 6000
        Fax: 011 214 8028
        E-mail: info@easyequities.co.za
        FSP No: 22588
        2. Legal status and any interest in the Insurer
        You, as our client, have the right to the following information from your broker:
        i. Legal status of the broker.
        ii. Whether your broker has a shareholding in excess of 10% with any Insurer.
        iii. Whether the broker has placed business in excess of 30% with any Insurer in the preceding year.
        iv. Detail as to whether the broker is an associated Company of the Insurer.
        3. Your broker must advise you whether they have Professional Indemnity insurance in force. First World Trader does have
        this in force.
        4. Claims are to be instituted by effecting a sale of claimable shares through the brokers trading platform
        5. Commission on the premium payable to your broker of 20% of all premium paid, SASRIA commission of 0% and no
        additional management fee taken is paid to the broker</p>
    <h3>The insurer</h3>
    <p>Name, physical address, postal address and telephone number.</p>
    <h3>Status of financial services provider in terms of the FAIS Act</h3>
    <p>Compass Insurance Company Limited is a registered short-term insurance company and an authorised Financial Service Provider,
        FAIS licence number: 12148, whose core business is the provision of niche short-term insurance products.</p>
    <h3>FSP office contact particulars</h3>
    <p>• Physical address: Compass Insurance, KPMG Wanooka Place, First Floor, St Andrews Road, Parktown
        • Postal address: PO Box 37226 Birnam Park 2015
        • Telephone: 011 745 8333
        • Facsimile: 011 745 8444
        • E-mail: info@compass.co.za</p>
    <h3>Responsible key individual contact particulars</h3>
    <p>• Telephone: 011 745 8333
        • Facsimile: 011 745 8444
        • E-mail: paul.carragher@compass.co.za; russell.spring@compass.co.za</p>
    <h3>Professional indemnity insurance</h3>
    <p>We do carry professional indemnity insurance.</p>
    <h3>Authorisation</h3>
    <p>The Company is licensed as a short-term insurer in respect of short term commercial and short term personal products.</p>
    <h3>Complaints procedures</h3>
    <p>Please note that in terms of the FAIS Act, all complaints must be addressed to us in writing. Should we not be able to address the
        concerns to your satisfaction, you may lodge a complaint with any of the Ombudsmen whose detail appear below. If you wish to
        learn more about our complaints policy and procedure, please contact our Compliance Officer at the office number below.</p>
    <h3>Conflict of interest</h3>
    <p>A copy of our conflict of interest policy is available to view on our website.</p>
    <h3>Other matters of importance</h3>
    <p>General
        1. You must be informed of any material changes to the information provided above.
        2. If the information was given to you verbally, it must be confirmed in writing within 30 days.
        3. If any complaint to the Insurer or Intermediary is not resolved to your satisfaction, you may submit the complaint to the
        Ombudsman of Short-Term Insurance or to the FAIS Ombudsman.
        4. The Insurer, and not the Intermediary, must give reasons for repudiating your claim.
        5. Your Insurer may cancel your insurance policy or impose special terms merely by informing your Intermediary, subject to
        the policy wording.
        6. You are entitled to a copy of the policy free of charge.
        7. You must check your policy schedule to ensure that the items insured and their description.
        8. Incorrect or non-disclosure by you may impact on any claims arising from your contract of insurance. This is especially
        important where you are a Director or related person of a Director to the insured share as per the exclusion in the policy
        schedule.
        9. If you are not sure about, or do not understand any part of your policy, please contact the Intermediary/broker at the
        above address.
        10. You are entitled to view the written mandate between the Insurer and the Intermediary/Broker.</p>
    <h3>Other important information</h3>
    <p>• Keep all documents handed to you.
        • Make note as to what is said to you.
        • Don’t be pressurized to buy the product.
        • Incorrect information or non-disclosure by you of relevant facts may influence an Insurer on any claims arising from your
        contract of insurance. See number 8 under ‘General’ for more.</p>
    <h3>Compliance officer details</h3>
    <p>• Compass Insurance Company Limited
        • Adél Walker
        • Telephone: 011 745 8333
        • E-mail: adel.walker@compass.co.za
        • Facsimile: 011 745 8444</p>
    <h3>FAIS Ombud details for all FAIS advice related complaints</h3>
    <p>• Telephone: 0860 FAISOM (0860 324 766)
        • E-mail: info@faisombud.co.za
        • Physical address: The Customer Contact Division, The FAIS Ombud,
        Celtis House Eastwood Office Park Lynnwood, Pretoria
        • Postal address: PO Box 74571, Lynnwood Ridge 0040</p>
    <h3>Short term insurance Ombud</h3>
    <p>• Telephone: 011 726-8900
        • Facsimile: 011 726-5501
        • Sharecall: 0860 726 890
        • E-mail: info@osti.co.za
        • Physical address: Sunnyside Office Park, 5th Floor, Blok D, 32 Princess of Wales Terrace, Parktown
        • Postal address: PO Box 32334 Braamfontein, 2017</p>

  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Decline</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Agree</button>
</mat-dialog-actions>
